<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 
 <h1>Your Ticket ...</h1>
 
 
 
 <table>
 
 <tr>
 <td>Ticket Number :</td>
 <td  th:text="${t.ticketNum}"></td>
 </tr>
 
 
 <tr>
 <td>Status :</td>
 <td  th:text="${t.status}"></td>
 </tr>
 
 
 <tr>
 <td>Ticket Cost :</td>
 <td  th:text="${t.ticketCost}"></td>
 </tr>
 
 
 <tr>
 <td>Name :</td>
 <td  th:text="${t.name}"></td>
 </tr>
 
 
 <tr>
 <td>From :</td>
 <td  th:text="${t.from}"></td>
 </tr>
 
 
 <tr>
 <td>To :</td>
 <td  th:text="${t.to}"></td>
 </tr>
 
 
 <tr>
 <td>Doj :</td>
 <td  th:text="${t.doj}"></td>
 </tr>
 
 
 <tr>
 <td>Train Number</td>
 <td  th:text="${t.trainNumber}"></td>
 </tr>
 
 </table>

<a href="/">Book Ticket</a>

</body>
</html>